@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

.HomePage {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../src/public/cloth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  font-size: 40px;
}

.search-box button {
  background: none; 
  border: none; 
  padding: 0
}

.search-box input {
  vertical-align: 4px;
  font-size: 20px;
}

.Search {
  font-size: 20px;
}

.search-box {
  padding: 11px 0px;
  border: 1px solid #C1C1C1;
  background-color: white;
  width: 61%;
  border-radius: 15px;
  transition: .2s;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.search-box:hover {
  border-color: #AAAAAA;
}

/* .search-box:focus-within {
  border-color: #FF0080;
  box-shadow: 0 0 0 5px rgba(255, 0, 128, 0.40);
} */

input {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  border: none;
  color: #323232;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; 
}

.clear:not(:valid) ~ .search-clear {
  display: none;
}

.trend {
  width: 70%;
  background: #fbfbfb;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  margin-top: 1%;
  box-shadow: 1px 2px 9px -4px rgba(0,0,0,0.97);
}

.notrend {
  display: none;
}

p {
  font-family: 'Roboto', sans-serif;
}

.trend p {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3%;
}

.trendCards {
  display: flex;
  justify-content: space-around;
}

.dardImage {
  width: 40%;
  height: 40vh;
}

.dardImage p {
  font-size: 13px;
  text-align: center;
}

.dardImage img {
  width: 87%;
  height: 35vh;
  object-fit: cover;
}

#suggestion {
  margin-top: 2%;
  margin-bottom: 2%;
}

small {
  font-size: 18px;
}

.products {
  /* background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../src/public/cloth.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* background: #a9a6a6; */
 max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invalidSearch p {
  font-size: 35px;
}

.products .search-box {
  padding: 11px 0px;
  border: 1px solid #C1C1C1;
  background-color: white;
  width: 35%;
  border-radius: 15px;
  transition: .2s;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.productsContainer {
  background: #d8bdbd;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-height: 80vh;
  margin-top: 1%;
}

.productSearch {
  background: #eb6060;
  width: 37%;
}

.productSearch p {
  font-size: 30px;
  padding-top: 2%;
  padding-left: 2%;
}

.productsItems {
  background: #9df0a8;
  width: 61%;
  height: 80vh;
  display: grid;
  /* justify-content: space-around; */
  overflow-y: auto;
  padding-left: 1%;
  grid-template-columns: auto auto auto;
  /* flex-wrap: wrap; */
}

.productImageCard {
  width: 100%;
  /* padding-left: 1%; */
  padding-top: 8%;
  padding-bottom: 15%;
  position: relative;
  height: 30vh;
}

.productImageCard p {
  text-align: left;
}

.productImageCard img {
  width: 95%;
  height: 100%;
}

.like {
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
}

/* .details {
  display: none;
}

.productImageCard:hover ~ .details{
  display: block;
  position: absolute;
} */

.details {
  position: absolute;
  top: 61%;
  background: #5d5d8c;
  width: 95%;
  height: 5vh;
  opacity: 0.7;
  color: #fff;
  display: flex;
  justify-content: center;
  /* transition: all 750ms; */
}

.details button {
  height: 5vh;
  background: #5d5d8c;
  border: none;
  color: #fff;
  text-align: center;

}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 7%;
  padding-left: 6%;
  margin: 2% 0px;
}

.brand p {
  font-size: 20px;
  font-weight: 700;
}

.searchQuery {
  display: flex;
  align-items: center;
  padding-left: 7%;
  /* width: 50%; */
  /* justify-content: space-between; */
  column-gap: 2%;
  margin-bottom: 1%;
}

.searchQuery p {
  font-size: 18px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  display: inline-block;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.star-rating label:before {
  content: "\2605";
  margin-right: 5px;
}

.star-rating input[type="radio"]:checked ~ label {
  color: orange;
}

.star-rating input[type="radio"]:checked ~ label:before {
  content: "\2605";
}





@media (max-width: 768px) {
  .search-box {
    width: 65%;
  }

  .search-box input {
    width: 100%;
  }
}